<div id="share-buttons">


    <!-- Email -->
    <a href="mailto:?Subject=A Post from assembIt&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://assembleIt.com">
        <i class="fas fa-envelope"></i>
    </a>

    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u=https://assembleIt.com/posts/5f6a5d4ff78d31192ae40bb0" target="_blank">
        <i class="fab fa-facebook"></i>
    </a>

    <!-- Reddit -->
    <a href="http://reddit.com/submit?url=https://assembleIt.com/posts/5f6a5d4ff78d31192ae40bb0&amp;title=I%20found%20this" target="_blank">
        <i class="fab fa-reddit"></i>
    </a>

    <!-- Twitter -->
    <a href="https://twitter.com/share?url=https://assembleIt.com/posts/5f6a5d4ff78d31192ae40bb0&amp;text=I%20found%20this&amp;hashtags=assembleIt" target="_blank">
        <i class="fab fa-twitter"></i>
    </a>

</div>
