<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', {title: "Make a Comment"}) %>
<body>
    <!-- navbar -->
    <%- include('../partials/nav.ejs') %>

    <div class="submitComment">
        <form action="/comments" method="POST">
            <div class="form-group user-edit-form">
                <label>Make a Comment</label>
                <input type="text" name="body" class="form-control" placeholder="Comment">
            </div>
            <div class="submitbtn"> <input type="submit" class="btn btn-primary btn-sm" value="SUBMIT POST"> </div>
          </form>
    </div>


    <!-- footer -->
    <%- include('../partials/footer') %>

</body>
</html>
