* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background-color: whitesmoke;
}

/* STLYES FOR HOME PAGE */
.posts, .submitPost {
    margin: auto;
    width: 60%;
    padding: 10px;
    background-color: white;
}

.signupFrontPage {
    color: #007CFF;
    text-align: center;
    letter-spacing: 0;
}

.signupFrontPage:hover {
    letter-spacing: 5px;
    font-weight: bold;
    letter-spacing: 5px;
}

footer {
	background-color: #e3f2fd;
    position: fixed;
    bottom: 0;
    height: 30px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}


ul {
    list-style-type: none;
}

.posts {
    margin: 10px auto;
    margin-bottom: 100px;
}

.submitPost {
    margin: 10px auto;
}

form {
    display: inline;
}

/* HOME PAGE */
.submitbtn {
    text-align: right;
}

.post-container{
	display: flex;
    margin-top: 20px;
    max-height: 40px;
}

.posts-Vote {
    flex: 1.5;
    margin: auto;
    text-align: left;
}
.posts-Title {
    flex: 6.5;
}

.posts-Comment {
    flex: 2;
    text-align: right;
    margin: auto 20px;
}

.fas {
    color: #007CFF;
}

.vote-icon {
    font-size: 20px;
    color: blue;
}


/* Animation */
.blinking{
    animation:blinkingText 1.5s infinite;
}
@keyframes blinkingText{
    0%{ color: transparent;}
    50%{color: #c3edf7;}
    80%{color: #007CFF;}
    100%{color: #c3edf7;}
}
