* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background-color: whitesmoke;
}

/* NAVBAR */
.navbar{
    width: 100%;

}
/* STLYES FOR HOME PAGE */
.posts, .submitPost {
    margin: auto;
    width: 80%;
    padding: 10px;
    background-color: white;
}

.signupFrontPage {
    color: #007CFF;
    text-align: center;
    letter-spacing: 0;
}

.signupFrontPage:hover {
    letter-spacing: 5px;
    font-weight: bold;
    letter-spacing: 5px;
}

footer {
	background-color: #e3f2fd;
    position: fixed;
    bottom: 0;
    height: 30px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}


ul {
    list-style-type: none;
}

.posts {
    margin: 10px auto;
    margin-bottom: 100px;
}

.submitPost {
    margin: 10px auto;
}

form {
    display: inline;
}

/* HOME PAGE */
.submitbtn {
    text-align: right;
}

.post-container{
	display: flex;
    margin-top: 20px;
    max-height: 40px;
}

.posts-Vote {
    flex: 1.5;
    margin: auto;
    text-align: left;
    min-width: 65px;
}
.posts-Title {
    flex: 6.5;
    min-width: 550px;
}

.posts-Comment {
    flex: 2;
    text-align: right;
    min-width: 130px;
}

.fas {
    color: #007CFF;
}

.vote-icon {
    font-size: 20px;
    color: blue;
}


/* Animation */
.blinking{
    animation:blinkingText 1.5s infinite;
}
@keyframes blinkingText{
    0%{ color: transparent;}
    50%{color: #c3edf7;}
    80%{color: #007CFF;}
    100%{color: #c3edf7;}
}


@media only screen and (max-width: 600px) {

    .posts, .submitPost {
        width: 500px;
    }

    .post-container{
        display: flex;
        max-width: 450px;
        max-height: 150px;
        margin: 10px auto;
    }

    .posts-Vote {
        display: none;
    }

    .vote-btn {
        display: none;
    }

    .posts-Title {
        flex: 9;
        min-width: 300px;
        max-width: 300px;
        max-height: 200px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .posts-Comment {
        flex: 0.5;
        text-align: right;
        min-width: 20px;
    }

    .comments-text{
        display: none
    }

  }
