
/* POST - SHOW */

small{
    color: black;
}

#backtotop {
    margin: 30px auto;
    text-align: center;
}
.post-show-container{
	display: flex;
}

/* VOST OTES */
.post-show-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.post-show-votes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.on {
    color: red;
}

/* POST BODY */
.post-show-right{
    flex: 9;
}

.post-show-right h4{
    margin-top: 50px;
}

.post-show-title {
    margin: 30px auto;
    color: #007CFF;
}

.post-show-body{
    color: #989898;
    font-weight: light;
    margin-bottom: 50px;
}

.post-show-edit{
    text-align: right;
    margin-right: 5%;
}

.post-show-edit small{
    float: left;
}

/* EDIT POST */
.post-edit{

    align-items: center;
    justify-content: center;
}
.post-edit h4{
    margin: 50px auto 30px;
    color: #007CFF;
}

.submitComment {
    padding: 0 10%;
}

.comments{
    margin: 15px auto 100px auto;
}


.comments li{
    padding: 15px 8%;
    color: #989898;
}
