<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Post</title>
  </head>
  <body>
    <main>
      <h2>Edit <%= post.title %></h2>
      <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
        <p>
          <textarea type="text" name="body" placeholder="Body">
            <%= post.body %></textarea>
        </p>
        <input type="submit" value="Update Article" />
      </form>
    </main>
  </body>
</html>
