<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', {title: "LOGIN"}) %>
  <body>
    <main>
      <ul>
        <% posts.forEach(post => { %>
        <li>
          <a href="/<%= post._id %>"> <%= post.title %> </a>
        </li>
        <% }) %>
      </ul>

      <% if(posts.length === 0) { %>
      <p>There are no posts available yet.</p>
      <% } %>
    </main>
  </body>
</html>
