<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Post</title>
  </head>
  <body>
    <main>
      <form action="/" method="POST">
        <p>
          <input type="text" name="title" placeholder="Title" />
        </p>
        <p>
          <textarea type="text" name="body" placeholder="Body"></textarea>
        </p>

        <input type="submit" value="Create Post" />
      </form>
    </main>
  </body>
</html>
